<template>
    <div class="text-center" v-if="show">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                <li :class="{disabled: source.current_page == 1}">
                    <a href="#" aria-label="Previous" @click.prevent="nextPrev(source.current_page - 1)">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li v-for="(item, index) in pages" :key="index" :class="{active: active(item)}">
                    <span v-if="item == '...'">{{ item }}</span>
                    <a href="#" v-if="item != '...'" @click.prevent="navigate(item)">{{ item }}</a>
                </li>
                <li :class="{disabled: source.current_page == source.last_page}">
                    <a href="#" aria-label="Next" @click.prevent="nextPrev(source.current_page + 1)">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</template>

<script>
    import { range } from 'lodash'

    export default {
        props: ['source','show'],
        data () {
            return {
                pages: [],
                per_line: 10
            }
        },
        watch: {
            source (val) {
                this.pages = val.last_page <= this.per_line
                ? range(1, val.last_page + 1)
                : this.generatePagesArray(val.current_page, val.total, val.per_page, this.per_line)
            }
        },
        methods: {
            active (page) {
                return this.source.current_page == page
            },
            navigate (page) {
                this.$emit('navigate', page)
            },
            nextPrev (page) {
                if (page == 0 || page == this.source.last_page + 1) {
                    return
                }

                this.navigate(page)
            },
            generatePagesArray (currentPage, collectionLength, rowsPerPage, paginationRange) {
                let pages = []
                let totalPages = Math.ceil(collectionLength / rowsPerPage)
                let halfWay = Math.ceil(paginationRange / 2)
                let ellipsesNeeded = paginationRange < totalPages
                let position

                if (currentPage <= halfWay) {
                    position = 'start'
                } else if (totalPages - halfWay < currentPage) {
                    position = 'end'
                } else {
                    position = 'middle'
                }

                let i = 1
                while (i <= totalPages && i <= paginationRange) {
                    let pageNumber = this.calculatePageNumber(i, currentPage, paginationRange, totalPages)
                    let openingEllipsesNeeded = (i === 2 && (position === 'middle' || position === 'end'))
                    let closingEllipsesNeeded = (i === paginationRange - 1 && (position === 'middle' || position === 'start'))

                    if (ellipsesNeeded && (openingEllipsesNeeded || closingEllipsesNeeded)) {
                        pages.push('...')
                    } else {
                        pages.push(pageNumber)
                    }
                    i ++
                }

                return pages
            },
            calculatePageNumber (i, currentPage, paginationRange, totalPages) {
                let halfWay = Math.ceil(paginationRange / 2)

                if (i === paginationRange) {
                    return totalPages
                } else if (i === 1) {
                    return i
                } else if (paginationRange < totalPages) {
                    if (totalPages - halfWay < currentPage) {
                        return totalPages - paginationRange + i
                    } else if (halfWay < currentPage) {
                        return currentPage - halfWay + i
                    } else {
                        return i
                    }
                } else {
                    return i
                }
            }
        }
    }
</script>