.hidden-department {
    display: none;
}

.required {
    color: @error-red;
}

.buttons {
    margin-top: 15px;
}

#pack-editor-learn,
#description {
    height: 200px;
    width: 70%;
    border: 1px solid gray;
}

.delete-item {
    margin: 5px auto;
}

[v-cloak] {
  display: none;
}